// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Extended Bootstrap components
@import "./custom/utilities";
@import "./custom/functions";
@import "./custom/type-custom";
@import "./custom/alerts-custom";
@import "./custom/buttons";
@import "./custom/buttons-custom";
@import "./custom/button-group";
@import "./custom/dropdown";
@import "./custom/nav";
@import "./custom/nav-heading";
@import "./custom/nav-local";
@import "./custom/navbar";
@import "./custom/navbar-utilities";

// Custom theme components
@import "./custom/fonts";
@import "./custom/icons";
@import "./custom/text-inherit";
@import "./custom/nav-bordered";
@import "./custom/buttons-radius";
@import "./custom/container-custom";
@import "./custom/block";
@import "./custom/navbar-transparent";
@import "./custom/media";
@import "./custom/carousel-light";
@import "./custom/callouts";
@import "./custom/featured-list";
@import "./custom/zoom";
@import "./custom/text-ribbon";
@import "./custom/iconlist";
@import "./custom/cards-bold";
@import "./custom/card-collection";
@import "./custom/pagination";
@import "./custom/statcard";
@import "./custom/pull-quote";
@import "./custom/stage";
@import "./custom/preview";
@import "./custom/screen";
@import "./custom/announcement";
@import "./custom/collection";
@import "./custom/product";
@import "./custom/auth";
@import "./custom/shopify";

// Global theme components
@import "./global/navbar";
@import "./global/footer";
@import "./global/modal-search";

// Template theme components
@import "./templates/search";

//
// Custom styles
//
html,
body {
  @extend .min-vh-100;
}

html {
  // set optimal base size
  font-size: $font-size-root;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &.text-uppercase {
    letter-spacing: .15em;
  }
  small,
  .small {
    font-weight: inherit;
  }
}

h6, .h6 {
  margin-bottom: ($spacer-y * .25);
  color: lighten($gray-500, 40%);
  text-transform: uppercase;
}

strong {
  font-weight: bold;
}
