@import "main-variables";
@import "components";
@import "fonts";

body {
  background-color: $black;
}

.widget {
  border-radius: $border-radius-lg * 4;
  //box-shadow: $box-shadow;
}

.widget-cal-clock {
  display: flex;
  flex-direction: column;
  padding: $spacer;
  color: $black;
  background-color: $white;

  &.widget {
    display: flex;
  }

  * {
    text-align: start;
  }

  .clock {
    display: flex;
    flex-grow: 1;
  }

  .day {
    color: $red;
    text-transform: uppercase;
  }

  .time {
    align-self: center;
    color: $gray-500;
  }
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "@epickris/bootstrap-kit/scss/kit";
