@import "~@epickris/bootstrap-kit/scss/variables";
@import "~@epickris/bootstrap-kit/scss/kit-variables";
@import "ghs-variables";
@import "~@epickris/bootstrap-kit/scss/components";
@import "components";
@import "fonts";

.sds {
  h2,
  .h2 {
    counter-increment: section;

    &:before {
      content: "Section " counter(section) ". ";
      text-transform: uppercase;
    }
  }
  
  ol {
    counter-reset: sub-section;
  
    li {
      counter-increment: sub-section;

      &:before {
        content: counter(section) "." counters(sub-section, ".");
      }
    }
  }

  .datasheet {
    counter-reset: section;
  }

  .header {
    background-color: $white;
  }

  .language-code {
    text-transform: uppercase;
  }
}