@import "ghs-variables";
@import "components";
@import "fonts";

.sds {
  h1,
  .h2 {
    > small,
    > .small {
      font-weight: inherit;
    }
  }

  h2,
  .h2 {
    counter-increment: section;

    &::before {
      text-transform: uppercase;
      content: "Section " counter(section) ": ";
    }
  }

  .datasheet {
    counter-reset: section;
  }

  .header {
    padding-top: $spacer;
    padding-bottom: $spacer;
    background-color: $white;
    border-bottom: solid $border-width $border-color;
  }

  .section {
    margin-top: $spacer;
    page-break-inside: avoid;

    > ol {
      list-style: none;
      counter-reset: sub-section;
      padding-inline-start: 0;

      > li {
        counter-increment: sub-section;
        padding-inline-start: 2rem;

        &::before {
          position: absolute;
          font-weight: $headings-font-weight;
          line-height: $headings-line-height;
          text-indent: -2rem;
          content: counter(section) "." counters(sub-section, ".");
        }
      }

      ol,
      ul,
      dl {
        margin-bottom: 1rem;
      }
    }
  }

  .img-ghs {
    max-width: 4rem;
    max-height: 4rem;
  }

  .figure {
    text-align: center;
  }
}

/* stylelint-disable no-invalid-position-at-import-rule */
@import "@epickris/bootstrap-kit/scss/components";
@import "bootstrap/scss/bootstrap";
