@import "main-variables";

* {
  font-family: $font-family-sans-serif;
  color: $black;
}

b,
strong {
  font-weight: $font-weight-bold;
}

hr {
  border-color: $black;
}

.table {
  th,
  td {
    text-align: left;
    border-top-color: $black;
  }

  thead th {
    border-bottom-color: $black;
  }
}

[data-value=""],
[data-value=""] * {
  &,
  &::before,
  &::after {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

[data-qty]:not([data-qty="1"]) {
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
}

.page-break:not([data-value=""]) {
  page-break-after: always;
}

.row {
  display: block;
}

.col {
  float: left;
}

.custom-control-label {
  &::before {
    background-color: transparent;
    border: 1px solid $black;
  }
}

.barcode {
  height: $spacer;
  overflow: hidden;
}

.discount {
  text-align: center;

  .display-1,
  .lead {
    font-weight: $font-weight-bold;
  }
}

.personalisation {
  font-family: "Kingfisher 1", $font-family-sans-serif;
  text-align: center;
}

.dangerous-goods {
  text-align: center;
}
