@import "~@epickris/bootstrap-kit/scss/variables";
@import "~@epickris/bootstrap-kit/scss/kit-variables";
@import "main-variables";

* {
  color: $black;
}

hr {
  border-color: $black;
}

[data-value=""] {
  &,
  & * {
    &::before,
    &::after {
      display: none !important;
    }
  }
}

.row {
  margin-bottom: $spacer;
}

.col {
  float: left;
}
