@import "main-variables";

* {
  color: $black;
  font-family: "Cozy Glow Corals";
}

b,
strong {
  font-weight: bold;
}

hr {
  border-color: $black;
}

.table {
  th,
  td {
    text-align: left;
    border-top-color: $black;
  }

  thead th {
    border-bottom-color: $black;
  }
}

[data-value=""] {
  &,
  & * {
    &,
    &::before,
    &::after {
      display: none !important;
    }
  }
}

[data-qty]:not([data-qty="1"]) {
  font-weight: bold;
  font-size: 1.5rem;
}

.page-break:not([data-value=""]) {
  page-break-after: always;
}

.row {
  display: block;
}

.col {
  float: left;
}

.custom-control-label {
  &::before {
    background-color: transparent;
    border: 1px solid $black;
  }
}

.barcode {
  height: $spacer;
  overflow: hidden;
}

.discount {
  text-align: center;

  .display-1,
  .lead {
    font-weight: bold;
  }
}

.personalisation {
  font-family: "Kingfisher 1";
  text-align: center;
}

.dangerous-goods {
  text-align: center;
}
