.footer-global {
  @extend .bg-light;

  .breadcrumb {
    background: transparent;
  }

  .directory {
    @extend .pt-3;
    @extend .row;

    h3 {
      font-size: $font-size-base;
    }

    .nav:not(:last-of-type) {
      @extend .mb-3;
    }

    .nav-link {
      @extend .px-0;
      @extend .pt-0;
      color: $body-color;

      &:hover {
        text-decoration: $link-hover-decoration;
      }
    }
  }

  .legal {
    @extend .align-items-center;
    @extend .clearfix;
    @extend .d-flex;
    @extend .position-relative;
    
    .copyright,
    .links {
      @extend .float-left;
    }

    .copyright {
      @extend .mr-5;
    }

    .nav-link {
      @extend .py-0;
      @extend .small;

      &:not(:last-of-type) {
        @extend .border-right;
      }
    }
  }
}