.modal-global-search {
  &.fade {
    .modal-dialog {
        transform: translate($spacer-x * 3);
    }
  }

  &.show {
    .modal-dialog {
        transform: $modal-show-transform;
    }
  }

  .modal-dialog {
    margin-top: 0;
  }

  .modal-content {
    background: transparent;
    border: none;
  }

  .bar {
    margin-bottom: $border-width;
    padding-top: $navbar-padding-y;
    padding-bottom: $navbar-padding-y;

    .form-inline {
      display: flex;
      flex-direction: row-reverse;
    }

    .form-control {
      background: transparent;
      border: none;
      box-shadow: none;
      color: $navbar-dark-active-color;
      flex-grow: 1;

      &::placeholder {
        color: $navbar-dark-color;
      }
    }

    .btn {
      svg {
        width: $spacer;

        path {
          fill: $navbar-dark-color;
        }
      }
    }
  }

  .results {
    background: $white;
    padding: $spacer-x $spacer-y;

    .nav-item {
      border-radius: $border-radius;
      padding-right: $spacer * 1.5;
      padding-left: $spacer * 1.5;

      &:hover {
        background-color: $light;
      }
    }

    .nav-link {
      color: $body-color;

      &:hover {
        color: $link-hover-color;
      }
    }

    h3 {
      color: $text-muted;
      font-size: $font-size-sm;
      padding-right: $spacer-x;
      padding-left: $spacer-x;
      text-transform: uppercase;
    }
  }
}