.card-deck-collection {
  margin-top: $card-columns-margin;

  .card {
    @extend .bg-light;
    @extend .border-0;
    flex-basis: 30%;
    margin-top: $card-columns-margin;
    margin-bottom: $card-columns-margin;
  }

  .card-body {
    @extend .text-center;
  }
}