.container-product {
  .row {
    justify-content: space-between;
  }

  .col-info,
  .col-img {
    @include make-col-ready();
  }

  .col-info {
    margin-top: $spacer-y * 3;

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .col-img {
    @include media-breakpoint-up(lg) {
      @include make-col(7);
    }
  }

  .title {
    margin-bottom: 0;
  }

  .form-variation {
    margin-top: $spacer-y * 3;
  }
}

.purchase-info {
  &-chat-now {
    
  }
}