.page-container {
  overflow: inherit;
  transform: none;
}

.page-overview {
  @media only screen and (min-width: 750px) {
    margin-top: -55px;
  }
}

.main-content {
  padding-top: 0;

  .index-section {
    padding-top: 0;
  }
}

.rte {
  a {
    &.nav-link {
      padding-bottom: $nav-link-padding-y;
    }

    &.navbar-brand {
      padding-bottom: $navbar-brand-padding-y;
    }

    &:not(.nav-link),
    &:not(.navbar-link) {
      border-bottom: 0;
    }
  }

  ul {
    &.list-unstyled,
    &.navbar-nav {
      list-style: none;
      margin-left: 0;
    }

    &.navbar-nav {
      margin-bottom: 0;
    }
  }
}

.hero__inner {
  .btn {
    color: var(--color-btn-primary-text);
  }

  .mega-title {
    color: var(--color-overlay-title-text);
  }
}

.slideshow__title {
  color: var(--color-overlay-title-text);
}

.slideshow__btn {
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
  min-height: inherit;
}

.mega-title {
  color: var(--color-overlay-title-text)
}

.collection-grid-item__title {
  color: var(--color-overlay-title-text);
}

.modal {
  background-color: inherit;
  opacity: inherit;
}
