.hll {
  background-color: #ffc;
}

.c {
  color: #999;
}

.err {
  color: #a00;
  background-color: #faa;
}

.k {
  color: #069;
}

.o {
  color: #555;
}

.cm {
  color: #999;
}

.cp {
  color: #099;
}

.c1 {
  color: #999;
}

.cs {
  color: #999;
}

.gd {
  background-color: #fcc;
  border: 1px solid #c00;
}

.ge {
  font-style: italic;
}

.gr {
  color: #f00;
}

.gh {
  color: #030;
}

.gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}

.go {
  color: #aaa;
}

.gp {
  color: #009;
}

.gu {
  color: #030;
}

.gt {
  color: #9c6;
}

.kc {
  color: #069;
}

.kd {
  color: #069;
}

.kn {
  color: #069;
}

.kp {
  color: #069;
}

.kr {
  color: #069;
}

.kt {
  color: #078;
}

.m {
  color: #f60;
}

.s {
  color: #d44950;
}

.na {
  color: #4f9fcf;
}

.nb {
  color: #366;
}

.nc {
  color: #0a8;
}

.no {
  color: #360;
}

.nd {
  color: #99f;
}

.ni {
  color: #999;
}

.ne {
  color: #c00;
}

.nf {
  color: #c0f;
}

.nl {
  color: #99f;
}

.nn {
  color: #0cf;
}

.nt {
  color: #2f6f9f;
}

.nv {
  color: #033;
}

.ow {
  color: #000;
}

.w {
  color: #bbb;
}

.mf {
  color: #f60;
}

.mh {
  color: #f60;
}

.mi {
  color: #f60;
}

.mo {
  color: #f60;
}

.sb {
  color: #c30;
}

.sc {
  color: #c30;
}

.sd {
  font-style: italic;
  color: #c30;
}

.s2 {
  color: #c30;
}

.se {
  color: #c30;
}

.sh {
  color: #c30;
}

.si {
  color: #a00;
}

.sx {
  color: #c30;
}

.sr {
  color: #3aa;
}

.s1 {
  color: #c30;
}

.ss {
  color: #fc3;
}

.bp {
  color: #366;
}

.vc {
  color: #033;
}

.vg {
  color: #033;
}

.vi {
  color: #033;
}

.il {
  color: #f60;
}

.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}

.highlight {
  padding: 15px;
  margin: 15px -15px;
  background-color: #f5f5f5;
}
@media (min-width: 576px) {
  .highlight {
    padding: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  }
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
}
.highlight pre code {
  font-size: inherit;
  color: #343a40;
}

@media (min-width: 576px) {
  .docs-example + .highlight {
    border-width: 0 1px 1px;
    border-radius: 0 0 3px 3px;
  }
}

body {
  padding-bottom: 40px;
  overflow-x: hidden;
}

.docs-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff;
  background-color: #007bff;
  background-image: linear-gradient(top, #0056b3, #007bff);
  background-image: linear-gradient(to bottom, #0056b3, #007bff);
}
.docs-header h1 {
  margin-bottom: 5px;
  font-size: 40px;
  line-height: 1;
}
.docs-header p {
  font-weight: 300;
  line-height: 1.4;
  color: #99caff;
}
@media (min-width: 576px) {
  .docs-header {
    font-size: 24px;
  }
  .docs-header h1 {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .docs-header h1,
  .docs-header p {
    max-width: 75%;
  }
}

#contents {
  display: none;
}

#markdown-toc {
  padding-left: 0;
  margin-top: 30px;
  font-size: 13px;
  list-style: none;
}
#markdown-toc a {
  display: block;
  padding: 2px 10px;
}
#markdown-toc a:hover {
  text-decoration: none;
}
#markdown-toc > li {
  margin-bottom: 5px;
}
#markdown-toc > li:first-child {
  display: none;
}
#markdown-toc ul {
  padding-left: 20px;
  list-style: none;
}
#markdown-toc ul ul {
  display: none;
}
@media (min-width: 576px) {
  #markdown-toc {
    float: right;
    width: 220px;
    margin-right: -250px;
  }
  #markdown-toc a {
    padding-left: 20px;
    color: #adb5bd;
  }
  #markdown-toc ul {
    display: none;
  }
  #markdown-toc .active + ul {
    display: block;
  }
  #markdown-toc .active {
    padding-left: 18px;
    color: #007bff;
    background-color: transparent;
    border-left: 2px solid #007bff;
  }
  #markdown-toc.affix {
    top: 0;
  }
}

.docs-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #f2f2f2;
}
.docs-top:hover,
.docs-top:focus {
  text-decoration: none;
}
@media (min-width: 576px) {
  .docs-top {
    display: block;
  }
}

.docs-icons {
  margin-bottom: 20px;
  font-size: 20px;
}
.docs-icons .icon {
  padding: 5px;
}

@media (min-width: 576px) {
  .container .docs-jumbotron {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: -10px;
    margin-left: -10px;
    border-radius: 0;
  }
}

.docs-content {
  font-size: 16px;
}
.docs-content > h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #f8f9fa;
}
.docs-content > h1 + p {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
@media (min-width: 576px) {
  .docs-content > h1 + p {
    font-size: 1.5rem;
  }
}
@media (min-width: 576px) {
  .docs-content {
    padding-right: 260px;
  }
}

.docs-example {
  position: relative;
  padding: 20px;
  margin: 20px -15px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.docs-example::after {
  display: block;
  clear: both;
  content: "";
}
.docs-example + .highlight {
  margin-top: -20px;
}
@media (min-width: 576px) {
  .docs-example {
    margin-right: 0;
    margin-left: 0;
    border-radius: 3px 3px 0 0;
  }
}
.docs-example + p {
  margin-top: 30px;
}
.docs-example > *:last-child {
  margin-bottom: 0;
}
.docs-example .container {
  width: auto;
}
.docs-example > .dropdown-menu:first-child {
  position: static;
  display: block;
}
.docs-example > .list-group {
  max-width: 300px;
}
@media (min-width: 576px) {
  .docs-example .label {
    display: inline-block;
    margin: 5px;
  }
}
.docs-example.docs-example-modal {
  background-color: #fafafa;
}
.docs-example .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.docs-example .modal-dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}
.docs-example .modal-lg {
  max-width: 90%;
}
.docs-example.bs-example-tooltips {
  text-align: center;
}
.docs-example.bs-example-tooltips > .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
.docs-example.bs-example-tooltip .tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  opacity: 1;
}
.docs-example.bs-example-popover {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}
.docs-example.bs-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}
.docs-example > .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.docs-content > h3,
.docs-content > h2 {
  margin-top: 50px;
}

.highlight {
  background-color: #f5f7f9;
  border: 1px solid #dde2e6;
}

.docs-example {
  background-color: transparent;
}

.highlight pre code {
  color: #3e4952;
}

.gp {
  color: #007bff;
}

.docs-icons {
  color: #adb5bd;
}

.docs-example .featured-list .icon,
.docs-example .featured-list h3 {
  color: #007bff;
}

.docs-example .text-ribbon {
  color: #fff;
}

.docs-example .panel-bold {
  color: #fff;
}

.docs-example .carousel-light {
  background-color: #fff;
}

.docs-bg {
  background-color: #007bff;
  background-image: linear-gradient(top, #0056b3 0, #007bff 100%);
  background-image: linear-gradient(to bottom, #0056b3 0, #007bff 100%);
}
